################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DemoEffects/v14/.suo
/DemoEffects/bin/Debug
/DemoEffects/obj/Debug
/DemoEffects/obj/Windows
/DemoEffects/Content
/DemoEffects/bin/Release
/DemoEffects/obj/Release
